.QA {
    position: absolute;
    width: 50%;
    height: 25%;
    left: 25%;
    font-size: 150%;
    text-align: center;
}

#Question {
    top: 5%;
    resize: none;
}

#Answer {
    top: 35%;
}

#Submit {
    top: 65%;
}